<section class="content-header">
    <h1>
        Add Vessel
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="vessel">Vessel</a></li>
        <li class="active">Add</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Complete Infomation</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmaddVessel" role="form" ng-submit="addVessel()">
            <div class="box-body">
                <div class="col-md-4">
                    <div class="form-group" style="height: 110px">
                        <label class="col-sm-2 control-label">Picture</label>
                        <div class="col-sm-9">
                            <img src="{{picVessel}}" style="height:100px" ng-click="uploadPicture()"></img>
                            <input type="file" style="width:95%" ng-file-select="onFileSelect($files)"
                                ng-model="vesselInfoData.flagCode">
                        </div>
                    </div>
                    <div class="form-group" style="height: 55px">
                        <label class="col-sm-2 control-label">IMO </label>
                        <input type="text" class="form-control" style="width: 90%" name="imo" required ng-model="imo">
                    </div>
                    <div class="form-group" style="height: 55px">
                        <label class=" col-sm-2 control-label">MSSI </label>
                        <input type="text" class="form-control" style="width: 90%" name="mssi" required ng-model="mssi">
                    </div>
                    <div class="form-group" style="height: 55px">
                        <label class=" col-sm-2 control-label">Callsign</label>
                        <input type="text" class="form-control" style="width: 90%" name="callsign" required
                            ng-model="callsign">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group" style="height: 73px">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" style="width: 90%" name="name" required ng-model="name">
                        <span ng-show="frmaddVessel.name.$error.maxlength" class="has-error">Name lenght is below
                            256 characters</span>
                    </div>
                    <div class="form-group" style="height: 73px">
                        <label class="control-label">Country</label>
                        <select class="form-control" style="width: 90%; border-radius: 5px;" value="Select Country"
                            data-style="btn-primary" data-container="body" ng-model="country" selectpicker>
                            <option ng-repeat="country in countries" ng-click="select(country.id)">
                               <img src="">
                            </option>
                        </select>
                    </div>
                    <div class="form-group" style="height: 73px">
                        <label class="control-label">Type</label>
                        <input type="text" class="form-control" style="width: 90%" name="type" required ng-model="type">
                    </div>
                    <div class="form-group" style="height: 73px">
                        <label class="control-label">GT</label>
                        <input type="text" class="form-control" style="width: 90%" name="gt" required ng-model="GT">
                    </div>
                    <div class="form-group" style="height: 73px">
                        <label class="control-label">Owner</label>
                        <select class="form-control" style="width: 90%; border-radius: 5px;" value="Select Owner"
                            data-style="btn-primary" data-container="body" ng-model="account" selectpicker>
                            <option ng-repeat="acc in Accounts" ng-click="select(acc.id)">
                                {{acc.email}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" style="height: 73px">
                        <label class="control-label">DWT</label>
                        <input type="text" class="form-control" style="width: 90%" name="dwt" required ng-model="dwt">
                    </div>
                    <div class="form-group" style="height: 73px">
                        <label class="control-label">Lenght</label>
                        <input type="text" class="form-control" style="width: 90%" name="lenght" required
                            ng-model="length">
                    </div>
                    <div class="form-group" style="height: 73px">
                        <label class="control-label">Width</label>
                        <input type="text" class="form-control" style="width: 90%" name="width" required
                            ng-model="width">
                    </div>
                    <div class="form-group" style="height: 73px">
                        <label class="control-label">Draught</label>
                        <input type="text" class="form-control" style="width: 90%" name="draught" required
                            ng-model="draught">
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="vessel" class="btn btn-default">Cancel</button>
                <button type="submit" ng-disabled="frmaddVessel.$invalid" class="btn btn-success pull-right"
                    ng-click="addVessel()">Save</button>
            </div><!-- /.box-footer -->.
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->